@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.h1 {
  font-family: "Roboto";
  font-weight: 700;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 10px;
}

.th,
.td {
  padding: 10px;
  text-align: center;
}

.th {
  background-color: #2d3142;
  color: #fff;
}

.tr:nth-child(even) {
  background-color: #d8d5db;
}

.tr:hover {
  background-color: #b0d7ff;
}

.popup {
  position: absolute;
  width: 40%;
  background-color: #b0d7ff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 1%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.wrapperButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
  gap: 10px;
}

.userDetailsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 900;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.userAddTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 900;
  color: #333;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textWrapper {
  padding: 10px;
  font-family: "Roboto";
  font-weight: 700;
  color: #333;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 0 5px -1px rgba(179, 179, 179, 0.5);
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  color: #000000;
  border-radius: 3px;
  background: #9ea7bd;
  box-shadow: 1px 0 5px -1px rgba(137, 59, 59, 0.5);
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}

.button:hover {
  color: #ebf5ff;
  box-shadow: 2px 1px 8px -4px rgba(137, 59, 59, 0.5);
  transition: all ease 0.3s;
}

.labelsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.label {
  font-family: "Roboto";
  font-weight: 400;
}

.inputField {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 11px;
  box-shadow: 1px 1px 5px rgba(66, 66, 66, 0.53);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
  font-family: "Roboto";
}

.tableWrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addUser {
  margin-left: 5%;
}